/* ====== FONTS ========= */

@font-face {
  font-family: "mon-light";
  src: url("../fonts/Montserrat-Light.woff");
}

@font-face {
  font-family: "mon-u-light";
  src: url("../fonts/Montserrat-UltraLight.woff");
}

/* ====== LAYOUT STYLES ========= */

.container {
  display: table;
  width: 800px;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

/* ====== TYPOGRAPHY ========= */

h1 {
  font-family: "mon-u-light";
  letter-spacing: -0.5;
  font-size: 36px;
  line-height: 43px;
  width: 430px;
  margin: 0 auto;
  margin-top: 55px;
}

p {
  font-family: "mon-light";
  font-size: 14px;
  line-height: 18px;
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
}


/* ====== OTHER STYLES ========= */

body {
  background-color: #EEEEEE;
}

.cursor {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: white;
  margin: 0 auto;
  transition: all 0.3s;
}

.cursor:hover {
  width: 160px;
  height: 160px;
}

.cursor img {
  margin-top: 45%;
}

.blk-button {
  background-color: #202020;
  padding: 30px 40px;
  font-family: "mon-light";
  font-size: 12px;
  color: white;
  letter-spacing: 0.8px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  margin-top: 170px;
  transition: all 0.5s;
}

.blk-button:hover {
  background-color: white;
  color: black;
  transition: all 0.5s;
}
