/* ====== FONTS ========= */

@font-face {
  font-family: "monlight";
  src: url("../fonts/Montserrat-Light.woff");
}

@font-face {
  font-family: "monulight";
  src: url("../fonts/Montserrat-UltraLight.woff");
}

/* ====== LAYOUT STYLES ========= */

.container {
  display: table;
  width: 800px;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-family: "monlight";
}

/* ====== TYPOGRAPHY ========= */
