/* ====== LAYOUT STYLES ========= */

.container {
  display: table;
  width: 800px;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}
